html {
    scroll-behavior: smooth;
    
}

* {
    margin: 0;
    padding: 0; 
}


img {
    width: 100%;
}

body {
    background-color: #ddd;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
}

/* container */
.container {
    display: grid;
    gap: 10px;

}

/* Header */
.header {
    display :grid;
    grid-template-areas:
    'hero hero feature-1'
    'hero hero feature-2'
    ;
}

.hero {
    grid-area: hero;
    min-height: 300px;
    background-image: url(img/1.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px;
}

.hero h2, .hero p {
    display: none;
}

.features {
    background-color: #000000;
    color: #ffffff;
    display: grid;
    /* justify-content: center;
    align-content: center; */
    place-content: center;
    text-align: center;
    cursor: pointer;
}

.feature-1 {
    grid-area: feature-1;
    background-image: url(img/2.jpg);
    background-size: cover;
}

.feature-2 {
    grid-area: feature-2;
    background-image: url(img/3.jpg);
    background-size: cover;
}

.features .price {
    font-size: 3em;
    font-weight: 200;
}

/* Navigation */

.menu {
    order: -1;
    display: grid;
    grid-template-columns: 1fr 2fr ;
    align-items: center ;

}

.menu .brand {
    font-size: 1.3em;
    color: #333333;
}

.menu ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    gap: 5px;
}

.menu a {
    display: block;
    background-color: #000000;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 5px;
}

/* hamburger menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    position: relative;
    z-index: 23;
}  

.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background: black;
    border-radius: 3px;
    transition: all 0.5s;
  
}

.menu-toggle input{
    display: block;
    position: absolute;
    background-color: black;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;

}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4){
    background-color: white;
    transform: rotate(45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3){
    opacity: 0;
    transform: scale(0);
}

/* Service */
.services{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
    
}

.service {
    background-color: white;
    padding: 15px;
    text-align: center;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
}

.service .icon {
    font-size: 35px;
}

.service h3 {
    font-size: 1.5em;
    padding: 5px;
}

.service p {
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 15px;
    color: gray;
}

/* Gallery */

.gallery {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5px;
}

.gallery h2 {
    grid-column: 1/-1;
    text-align: center;
    margin-bottom: 20px;

}

/* About */

.about h2 {
    text-align: center;
    margin-bottom: 20px;

}
.about p{
    
    text-align: center;
}
/* Responsive */

@media (max-width: 1024px){
    .menu {
        order :inherit;
        grid-template-columns: 1fr;

    }

    .menu .brand{
        display: none;
    }

    .hero h2, .hero p {
        display: block;
        background-color: black;
        color: white;
        padding: 5px;
        margin-bottom: 5px;

    }

    .hero {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        
    }
}

@media (max-width: 768px){ 
    .menu {
        order: -1;
        justify-items: end;
    }

    .menu-toggle {
        display: flex;
    }

    .menu ul {
        display: flex;
        position: absolute;
        right: 0;
        height: 100vh;
        top: 0;
        background-color: black;
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 1;
        transform:translateY(-100%);
        opacity: 0;
        transition: all 1s;

    }
    .menu ul.slide {
        opacity: 1;
        transform: translateY(0)
    }
}

@media (max-width: 600px){
    .header{
        grid-template-areas: 
        'hero'
        'feature-1'
        'feature-2';
    }

}
